<style>
    a {
        color: blue;
    }

    a:hover {
        text-decoration: none;
    }

    body {
        margin: 0;
    }

    main {
        margin: 1in;
    }

    h1 {
        color: rgb(230, 31, 31);
        text-align: right;
        font-family: 'Microsoft JhengHei';
        font-size: 72px;
        margin: 8px 8px 25vh 0px;
    }

    pre {
        font-family: 'Simsun';
        font-size: 36px;
        white-space: pre-wrap;
    }

    .title-page {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .title {
        font-size: 90px;
        text-align: center;
        font-family: 'arial';
    }

    .title span {
        color: rgb(230, 31, 31);
        font-weight: bolder;
        font-size: 110px;
    }

    .author {
        font-size: 26px;
        margin: 32px;
        font-family: 'Simsun';
    }
</style>

<body>
    <div class="title-page">
        <div class="title"><span>成都</span><br>今夜请将我遗忘</div>
        <div class="author">慕容雪村</div>
        <div class="time">2012-03-24</div>
    </div>
    <main></main>
</body>