<style>
    a {
        color: blue;
    }

    a:hover {
        text-decoration: none;
    }

    body {
        margin: 0;
    }

    main {
        margin: 1in;
    }

    h1 {
        text-align: center;
        font-family: 'Microsoft JhengHei';
        font-size: 72px;
        margin: 8px 0;
    }

    h1 .title-name {
        color: rgb(221, 119, 24);
        font-weight: bolder;
    }

    h1 .title-desc {
        color: rgb(145, 78, 16);
    }

    h2 {
        font-size: 32px;
        font-family: 'Microsoft JhengHei';
        color: rgb(95, 95, 95);
        text-align: center;
        font-weight: normal;
        margin: 8px 8px 25vh 0px;
    }

    pre {
        font-family: 'Simsun';
        font-size: 36px;
        white-space: pre-wrap;
    }

    .title-page {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: rgb(34, 33, 33);
    }

    .title {
        font-size: 90px;
        text-align: center;
        font-family: 'arial';
    }

    .title {
        color: rgb(241, 173, 45);
        font-weight: bolder;
        font-size: 110px;
    }

    .author {
        font-size: 50px;
        margin: 32px;
        font-family: 'simhei';
        color: #fff;
    }
</style>

<body>
    <div class="title-page">
        <div class="title">解<br>密</div>
        <div class="author">麦家著</div>
    </div>
    <main>
    </main>
</body>