<style>
    a {
        color: blue;
    }

    a:hover {
        text-decoration: none;
    }

    body {
        margin: 0;
    }

    main {
        margin: 1in;
    }

    h1 {

        color: white;
        text-shadow: 0 0 8px rgb(34, 164, 204);
        text-align: center;
        font-family: 'Microsoft JhengHei';
        font-size: 72px;
        margin: 8px 0;
    }

    h2 {
        font-size: 32px;
        font-family: 'Microsoft JhengHei';
        color: rgb(97, 33, 150);
        text-align: center;
        font-weight: normal;
        margin: 8px 8px 25vh 0px;
    }

    pre {
        font-family: 'Simsun';
        font-size: 36px;
        white-space: pre-wrap;
    }

    .title-page {
        background: rgb(49, 49, 86);
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .title {
        font-size: 90px;
        text-align: center;
        font-family: 'arial';
    }

    .title {
        color: white;
        text-shadow: 0 0 16px rgb(34, 164, 204), 0 0 32px rgb(34, 164, 204);
        font-weight: bolder;
        font-size: 170px;
    }

    .author {
        color: white;
        font-size: 50px;
        margin: 32px;
        font-family: 'Microsoft JhengHei';
    }
</style>

<body>
    <main>
    </main>
</body>