<style>
    :root {
        --title-main: rgb(255, 255, 255);
        --title-sub: rgb(188, 122, 190);
        --title-page: rgb(65, 13, 43);

        --chapter-title: rgb(95, 5, 76);
        --chapter-title-sub: rgb(126, 78, 115);
    }

    a {
        color: blue;
    }

    a:hover {
        text-decoration: none;
    }

    body {
        margin: 0;
    }

    main {
        margin: 1in;
    }

    h1 {
        text-align: center;
        font-family: 'Microsoft JhengHei';
        font-size: 72px;
        margin: 8px 0;
    }

    h1 {
        color: var(--chapter-title);
        font-weight: bolder;
    }

    h2 {
        font-size: 34px;
        font-family: 'Microsoft JhengHei';
        color: var(--chapter-title-sub);
        text-align: center;
        font-weight: bolder;
        margin: 8px 8px 25vh 0px;
    }

    .title {
        font-size: 90px;
        text-align: center;
        font-family: 'arial';
        color: var(--title-main);
        font-weight: bolder;
        font-size: 110px;
    }

    pre {
        font-family: 'Simsun';
        font-size: 36px;
        white-space: pre-wrap;
    }

    .title-page {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: var(--title-page);
    }

    .author {
        font-size: 50px;
        margin: 32px;
        font-family: 'simhei';
        color: var(--title-sub);
    }
</style>

<body>
    <main>
    </main>
</body>